.App {
  text-align: center;
}

.todo-list-wrap {
  min-width: 320px;
  max-width: 340px;
  margin: 0 auto;
  margin-top: 130px;
  position: relative;
  border: 5px solid rgb(255, 0, 0);
  padding: 10px;
}

.header-component {
  height: 100px;
  padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  color: black;
}
